<div class="row text-left justify-content-md-center">
	<div class="col-md-12">
		<div class="card">
			<form (ngSubmit)="viewCategoryPortalMapping()" class="form form-horizontal striped-rows form-bordered" [formGroup]="categoryPortalForm" novalidate>
				<div formGroupName="categoryPortalInformation">
					<div class="card-body">
						<!-- <div class="px-3"> -->
						<div class="form-body">
							<h4 class="form-section"><i class="ft-file-text"></i>Category Mapping</h4>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label class=" label-control" for="projectinput7">Portal</label>
											<select name="portal" class="form-control" formControlName="portal">
												<option value="" selected>Select Portal</option>
												<option *ngFor="let obj of portalList" [value]='obj.pm_id'>{{obj.pm_name}}</option>
											</select>
									</div>
								</div>
								<div class="col-md-4">
								 <div class="form-group">
									<label class=" label-control" for="projectinput7">Country</label>
										<select name="country" class="form-control" formControlName="country" (change)="selectOperator()">
											<option value="" selected>Select Country</option>
											<option *ngFor="let obj of countryList" [value]='obj.id'>{{obj.name}}</option>
										</select>
										</div>
									</div>
									<div class="col-md-4">
									<div class="form-group ">
										<label class=" label-control" for="projectinput7">Operator</label>
											<select name="operator" class="form-control" formControlName="operator">
												<option value="" selected>Select Operator</option>
												<option *ngFor="let obj of operatorList" [value]='obj.id'>{{obj.name}}</option>
											</select>
											</div>
										</div>
									</div>
								<div class="row">
										<div class="col-md-4">

							<div class="form-group">
								<label class=" label-control" for="projectinput7">Content</label>
									<select name="contentType" class="form-control" formControlName="contentType" (change)="selectCategory()">
										<option value="" selected>Select Content Type</option>
										<option *ngFor="let obj of contentType" [value]='obj.id'>{{obj.name}}</option>
									</select>
								  </div>
							</div>
							<div class="col-md-4">
              <div class="form-group">
                  <label class=" label-control" for="projectinput7">Category</label>
                    <select name="category" class="form-control" formControlName="category">
                      <option value="" selected>Select Category Type</option>
                      <option *ngFor="let obj of categoryList" [value]='obj.cm_id'>{{obj.cm_name}}</option>
                    </select>
                    </div>
							</div>
						</div>
						
						</div>
						<br>
						<h4 class="form-section"></h4>
						<div class="form-actions">
								<div class="">
									<button type="submit" class="btn btn-raised btn-primary mr-1" [disabled]="!categoryPortalForm.valid">Submit</button>
								</div>
							</div>
					</div>
				
        </div>
      </form>
    </div>
  </div>
</div>
<div>
<div class="row text-left justify-content-md-center" *ngIf="show">
		<div class="col-md-12">
			<div class="card">
					<!-- <div class="card-header">
						<h4 class="card-title">Summary</h4>
					</div> -->
					<div class="card-body">
							<input type="text" id="myInput" (keyup)="myFunction()" placeholder="Search " title="Type in a name" style="margin: 20px; padding: 10px;">
							<section class="">
								<div class="contain">
									<table id="summaryTable">
										<thead>
											<tr class="header">
												<th> Select
													<div><input type="checkbox" name="all" (change)="checkAll($event)" /> Select </div>
												</th>
												<th >Date <div>Date</div></th>
												<th >Portal Name<div>Portal Name</div></th>
												<th >Preview <div>Preview</div></th>
												<th >Content Name <div>Content Name</div></th>
												<th >Content Type <div>Content Type</div></th>
												<th >Category Name <div>Category Name</div></th>
												<th >Country <div>Country</div></th>
												<th >Operator <div>Operator</div></th>
												<th >Status <div>Status</div> </th>
											</tr>
									</thead>
									<tbody>
											<tr *ngFor="let obj of rowdata  ">
												<td class="hidden-phone"> 
												<input type="checkbox" name="sizecb[]" value="{{obj.cdm_id}}" [(ngModel)]="obj.state"/></td>
												<td class="hidden-phone">{{obj.cpm_addedon}}</td>

												<td class="hidden-phone">{{obj.pm_name}}</td>
												<td class="hidden-phone">
													<img alt="image" src="{{content_url}}{{obj.cdm_content_path}}" height="60px" width="60px" (click)="expandImage(obj)">
												 </td>
												 <td class="hidden-phone">{{obj.cdm_title}}</td>
												 <td class="hidden-phone">{{obj.ct_name}}</td>
												 <td class="hidden-phone">{{obj.cm_name}}</td>
												 <td class="hidden-phone">{{obj.country_name}}</td>
												 <td class="hidden-phone">{{obj.operator_name}}</td>
												 <td class="hidden-phone">
													<button type="button" (click)="changeStatus(obj.cmp_id,obj.cpm_status)">{{obj.cpm_status}}</button>
												</td>
											</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
			
		</div>
	</div>
</div>
