<div class="container-fluid ">
    <div class="row full-height-vh">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="card  text-center width-400 ">
                <!-- <div>
                    <img alt="element 06" class="mb-1" src="assets/img/logos/globocom-logo.png" width="190">
                </div> -->

                <div class="card-header" style="background-color: #009DA0">
                    <!-- <span class="card-title"></span> -->
                    <h4 class="card-title" id="striped-row-layout-basic">Reset Password</h4>
                </div>
                <div class="text-center">
                    <img alt="element 06" class="mb-1" src="assets/img/logos/globocom-logo.png" width="100">

                </div>
                <div class="card-body">
                    <div class="card-block">
                        <form class="form form-horizontal striped-rows form-bordered" [formGroup]="forgotPassowrdForm" (ngSubmit)="submitForm()"
                            novalidate>
                            <div formGroupName="userInformation">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ft-mail"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" name="inputUsername" placeholder="Your UserName" formControlName="username">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ft-lock"></i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" formControlName="password">
                                </div>

                                <div class="input-group mb-3">
                                    <span style="color:red" *ngIf="error">
                                        Some error occured. Please try again!!
                                    </span>
                                </div>
                                <div class="form-group pt-1">
                                    <div class="text-center mt-2">
                                        <button type="submit" class="btn btn-primary btn-raised btn-block">Submit</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="float-left black"><a (click)="onLogin()">Login</a></div>
                        <!-- <div class="float-right white"><a (click)="onRegister()">Register Now</a></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>