<div class="row text-left justify-content-md-center">
	<div class="col-md-12">
		<div class="card">
				<div class="card-body">
						<div class="form-body">
              <!-- <h4 class="form-section"><i class="ft-file-text"></i>Content Provider Info</h4> -->
                <div class="row">
										<div class="col-md-12">
                        <div class="form-group">
                          <label class="label-control col-md-4" for="projectinput7" style="padding:10px;">Content Provider Name </label>
                          <div class="col-md-6">
                            <input class="form-control" placeholder="Enter CP Name" name="name" [(ngModel)]="name">
                          </div>
                        </div>
                    </div>
                  </div>
						</div>
				</div>
				<br>
				<div class="form-actions">
					<button type="submit" class="btn btn-raised btn-primary mr-1" (click)="saveContentProvider()">Submit</button>
				</div>
		</div>
				
  </div>
</div>
