<div class="row text-left justify-content-md-center">
	<div class="col-md-12">
		<div class="card">
			<!-- <div class="card-header">
				<h6 class="card-title" id="striped-row-layout-basic">Create Offer</h6>
			</div> -->
			<form (ngSubmit)="getContentList()" class="form form-horizontal striped-rows form-bordered" [formGroup]="contentForm" novalidate>
				<div formGroupName="contentInformation">
					<div class="card-body">
						<!-- <div class="px-3"> -->
						<div class="form-body">
							<h4 class="form-section"><i class="ft-file-text"></i>Content Info</h4>
								<div class="row">
										<div class="col-md-4">
                        <div class="form-group">
                          <label class=" label-control" for="projectinput7">Content</label>
                            <select name="contentType" class="form-control" formControlName="contentType" (change)="selectCategory()">
                              <option value="" selected>Select Content </option>
                              <option *ngFor="let obj of contentType" [value]='obj.id'>{{obj.name}}</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                        <div class="form-group">
                            <label class=" label-control" for="projectinput7">Category</label>
                              <select name="category" class="form-control" formControlName="category">
                                <option value="" selected>Select Category </option>
                                <option *ngFor="let obj of categoryList" [value]='obj.cm_id'>{{obj.cm_name}}</option>
                              </select>
                              </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                              <label class=" label-control" for="projectinput7">Status</label>
                                <select name="status" class="form-control" formControlName="status">
                                  <option value="" selected>Select Status </option>
                                  <option *ngFor="let obj of status" [value]='obj.id'>{{obj.name}}</option>
                                </select>
                                </div>
                          </div>
						      </div>
						</div>
						<br>
						<h4 class="form-section"></h4>
						<div class="form-actions">
								<div class="">
									<button type="submit" class="btn btn-raised btn-primary mr-1" [disabled]="!contentForm.valid">Submit</button>
								</div>
							</div>
					</div>
				
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row text-left justify-content-md-center" >
  <div class="col-md-12">
    <div class="card">
        <!-- <div class="card-header">
          <h4 class="card-title">Summary</h4>
        </div> -->
        <div class="card-body" *ngIf="showTable">
            <div>
            <input type="text" id="myInput" (keyup)="myFunction()" placeholder="Search" title="Type in a name" style="margin: 20px; padding: 10px;"/>
            <button type="submit" class="btn btn-raised btn-primary mr-1" style="float:right;margin: 20px; padding: 10px;" (click)="approveInBulk()">Approve Selected</button>
            <button type="submit" class="btn btn-raised btn-warning mr-1" style="float:right;margin: 20px; padding: 10px;" (click)="rejectInBulk()">Reject Selected</button> 
            </div>
           
            <div style="margin-left: 15px; padding: 5px;">
                <p> Total Rows : {{rowdata.length}}</p>
              </div>

            <section class="">
            <div class="contain" >
               <table id="summaryTable">
                <thead>
                <tr class="header">
                  <th>Select
                      <div>
                          <input type="checkbox" name="all" (change)="checkAll($event)" />
                          Select </div>
                  </th>
                  <th>Date
                      <div>Date</div>
                  </th>
                  <th>Preview
                      <div>Preview</div>
                  </th>
                  <th>Content Name
                      <div (click)="sortTable(3)" >Content Name</div>
                  </th>
                  <th>Content Provider
                      <div (click)="sortTable(4)">Content Provider</div>
                  </th>
                  <th>Action
                      <div>Action</div>
                  </th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of rowdata  ">
                      <!-- <tr> -->
                      <td class="hidden-phone" >
                          <input type="checkbox" name="sizecb[]" value="{{obj.cdm_id}}" [(ngModel)]="obj.state"/>
                      </td>                       
                      <td class="hidden-phone" >{{obj.cdm_addedon}}</td>                       
                       <td >
                          <!-- <div style="width: 100px; height: 100px;" class="fileupload-new thumbnail"> -->
                          <img alt="image" src="{{content_url}}{{obj.cdm_content_path}}" height="60px" width="60px" (click)="expandImage(obj)">
                          <!-- </div> -->
                       </td>
                       <td class="hidden-phone" >{{obj.cdm_title}}</td>
                       <td class="hidden-phone" >{{obj.cdm_cp}}</td>
                       <td class="hidden-phone" >
                        <button type="button" class="btn btn-raised btn-primary mr-1" (click)="approve(obj.cdm_id)">Approve</button>
                        <button type="button" class="btn btn-raised btn-warning mr-1" (click)="reject(obj.cdm_id)">Reject</button>
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
            </section>
        </div>
    
  </div>
</div>
</div>

<script>
   var divHeight = $('#header').height(); 
    $('#container').css('margin-top', divHeight+'px');
</script>