<div class="row text-left justify-content-md-center">
	<div class="col-md-12">
		<div class="card">
			<!-- <div class="card-header">
				<h6 class="card-title" id="striped-row-layout-basic">Create Offer</h6>
			</div> -->
			<form (ngSubmit)="addSubCategory()" class="form form-horizontal striped-rows form-bordered" [formGroup]="contentForm" novalidate>
				<div formGroupName="contentInformation">
					<div class="card-body">
						<!-- <div class="px-3"> -->
						<div class="form-body">
							<h4 class="form-section"><i class="ft-file-text"></i>Category Management</h4>
							<div class="form-group row">
								<label class="col-md-3 label-control" for="projectinput7">Content</label>
								<div class="col-md-4">
									<select name="content" class="form-control" formControlName="content" (change)="selectCategory()">
										<option value="" selected>Select Content Type</option>
										<option *ngFor="let obj of contentType" [value]='obj.id'>{{obj.name}}</option>
									</select>
									
								</div>
								<div class="col-md-4">
									<span style="color:red" *ngIf="adderror">
										Select Category to Add
									</span>
									
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 label-control" for="projectinput7">Category</label>
								<div class="col-md-4">
									<select name="category" class="form-control" formControlName="category" (change)="errorCheck()">
										<option value="" selected>Select Category Type</option>
										<option *ngFor="let obj of categoryList" [value]='obj.cm_id'>{{obj.cm_name}}</option>
									</select>
									<br>
									<div class="input-group mb-3">
										<span style="color:red" *ngIf="deleteerror">
											Select SubCategory to Delete.
										</span>
										<span style="color:red" *ngIf="updateerror">
											Select SubCategory to Update.
										</span>
									</div>
								</div>
								<div class="col-md-5">
									<button type="button" class="btn btn-raised btn-primary mr-1" (click)="addCategory()">Add</button>
									<button type="button" class="btn btn-raised btn-primary mr-1" (click)="deleteCategory()">Delete</button>
									<button type="button" class="btn btn-raised btn-primary mr-1" (click)="putCategory()">Update</button>
								</div>
							</div>
							
							<div class="form-group row" *ngIf="showtextbox">
								<label class="col-md-3 label-control" for="projectinput7"></label>
								<div class="col-md-4">
									<input class="form-control" placeholder="Select New Category" name="subcategory" formControlName="subcategory">

									<!-- <small class="form-text text-muted danger" *ngIf="!createOfferForm.get('offerInformation.bidrate').valid && (createOfferForm.get('offerInformation.bidrate').dirty || createOfferForm.get('offerInformation.bidrate').touched)">
															Bid Rate is required!
													</small> -->
								</div>
								<div class="col-md-5">
									<button type="button" class="btn btn-raised btn-primary mr-1" (click)="translateCategory()">Translate</button>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 label-control" for="projectinput7">Arabic </label>
								<div class="col-md-4">
									<input class="form-control" placeholder="Category Name in Arabic" name="arabic" formControlName="arabic">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 label-control" for="projectinput7">Russian </label>
								<div class="col-md-4">
									<input class="form-control" placeholder="Category Name in Russian" name="russian" formControlName="russian">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 label-control" for="projectinput7">French </label>
								<div class="col-md-4">
									<input class="form-control" placeholder="Category Name in French" name="french" formControlName="french">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 label-control" for="projectinput7">Italic </label>
								<div class="col-md-4">
									<input class="form-control" placeholder="Category Name in Italic" name="italic" formControlName="italic">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 label-control" for="projectinput7">Greek </label>
								<div class="col-md-4">
									<input class="form-control" placeholder="Category Name in Greek" name="greek" formControlName="greek">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 label-control" for="projectinput7">Thai </label>
								<div class="col-md-4">
									<input class="form-control" placeholder="Category Name in Thai" name="thai" formControlName="thai">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-actions">
				<div class="col-md-3">
					<button type="submit" class="btn btn-raised btn-primary mr-1" [disabled]="!contentForm.valid">Submit</button>
					<!-- <button type="button" class="btn btn-raised btn-primary mr-1" *ngIf="updatecategory" (click)="updateCategory()">Submit</button> -->
				</div>
			</div>
			</form>
		</div>
	</div>
</div>