<!-- <button type="button" class="btn btn-raised btn-warning mr-1" (click)="login()"> Login </button> -->
<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <div class="card gradient-blackberry">
        <div class="card-body">
          <div class="pb-0" style="padding:15px;">
            <div class="media">
              <div class="media-body white text-left">
                <h3 class="mb-0">{{totalTickets}}</h3>
                <span>GAMES</span>
              </div>
              <div class="media-right white text-right">
                <i class="icon-pie-chart font-large-1"></i>
              </div>
            </div>
          </div>
          <div class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12" >
        <div class="card gradient-green-tea">
          <div class="card-body">
            <div class="pb-0" style="padding:15px;">
              <div class="media">
                <div class="media-body white text-left">
                  <h3 class="mb-0">{{pendingTickets}}</h3>
                  <span>GLAM</span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-graph font-large-1"></i>
                </div>
              </div>
            </div>
            <div class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
              <!-- <x-chartist class="" [data]="WidgetlineChartSales.data" [type]="WidgetlineChartSales.type" [options]="WidgetlineChartSales.options" [responsiveOptions]="WidgetlineChartSales.responsiveOptions"
                          [events]="WidgetlineChartSales.events">
              </x-chartist> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card gradient-pomegranate">
          <div class="card-body">
            <div class="pb-0" style="padding:15px;">
              <div class="media">
                <div class="media-body white text-left">
                  <h3 class="mb-0">{{completedTickets}}</h3>
                  <span>FUNNY</span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-pie-chart font-large-1"></i>
                </div>
              </div>
            </div>
            <div class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
              <!-- <x-chartist class="" [data]="WidgetlineChartProfit.data" [type]="WidgetlineChartProfit.type" [options]="WidgetlineChartProfit.options" [responsiveOptions]="WidgetlineChartProfit.responsiveOptions"
                          [events]="WidgetlineChartProfit.events">
              </x-chartist> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-12" >
        <div class="card gradient-ibiza-sunset">
          <div class="card-body">
            <div class="pb-0" style="padding:15px;">
              <div class="media">
                <div class="media-body white text-left">
                  <h3 class="mb-0">{{pendingTickets}}</h3>
                  <span>GOOSIP</span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-graph font-large-1"></i>
                </div>
              </div>
            </div>
            <div class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
              <!-- <x-chartist class="" [data]="WidgetlineChartSales.data" [type]="WidgetlineChartSales.type" [options]="WidgetlineChartSales.options" [responsiveOptions]="WidgetlineChartSales.responsiveOptions"
                          [events]="WidgetlineChartSales.events">
              </x-chartist> -->
            </div>
          </div>
        </div>
      </div>
    </div>

  